# Server
PORT=3008
NODE_ENV=development

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=pricing_db

# RabbitMQ
RABBITMQ_URL=amqp://admin:password123@localhost:5672

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT - PHẢI GIỐNG VỚI AUTH SERVICE
JWT_SECRET=your-super-secret-jwt-key-change-in-production


# API Keys
INTERNAL_API_KEY=internal-secret-key

# Distance Calculation
USE_GOOGLE_MAPS=false
GOOGLE_MAPS_API_KEY=
OSRM_URL=http://router.project-osrm.org